<!DOCTYPE <!DOCTYPE html>
<html ng-app='movies'>
<head>
  <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
	<link rel='stylesheet' href='/styles/styles.css'>
  <title>Movies</title>
</head>
<body ng-controller='MoviesController as collection' class='gradient-background'>
	<nav class='navbar navbar-default'>
		<div class='container'>
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class='navbar-header'>
        <a class='navbar-brand' href='#'>
				  <img src='public/logo.svg' />
			  </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div>
        <ul class='nav navbar-nav navbar-right'>
          <li class='new-submission-link'><a ng-click='collection.expandNewMovieEntry = true'>New Submission <img src='public/plus.svg' /></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
	</nav>
  <div class='container movie-container'>
    <div class='card add-movie' ng-show='collection.expandNewMovieEntry'>
			<h1 class='title'>New Movie Submission</h1>
			<img ng-click='collection.expandNewMovieEntry = false' class='times' src='public/times.svg' />
      <form ng-submit='collection.addNewMovie()'>
        <div class='form-group'>
					<label class='movie-label'>Title:</label>
          <input class='movie-input' type='text' ng-model='collection.newMovie.title'  size='30' placeholder='Title'>
        </div>
        <div class='form-group'>
					<label class='movie-label'>Description:</label>
					<textarea class='movie-input' ng-model='collection.newMovie.description' cols='30'></textarea>
          <!-- <input type='text' ng-model='collection.newMovie.description'  size='30' placeholder='Description'> -->
        </div>
        <input class='movie-submit' type='submit' value='Submit Movie'>
      </form>
    </div>
    <!-- <div class='movie-container'> -->
      <div class='card thin-card' ng-repeat='movie in collection.movies'>
        <div>
          <h1 class='title movie-title'> {{ movie.title }} </h1>

          <!-- Image -->
          <div class="movie-image">
            <img src="{{ movie.image}}" width="200" height="300"/>  
          </div>


          <p> {{ movie.description }} </p>

          <div class='form-group'>
            <button class='btn btn-default' type='submit' ng-click='movie.expandNewReviewEntry = true'>Add new review</button>
          </div>

          <div class="card" ng-show='movie.expandNewReviewEntry'>
            <h3 class='title'>New Review</h3>
            <img ng-click='movie.expandNewReviewEntry = false' class='times' src='public/times.svg' />
            <form ng-submit='collection.addReview(movie)'>
              <div class='form-group'>
                <label class='movie-label'>Score:</label>
                <input class="movie-input" type='text' ng-model='movie.review.score' placeholder='Score'>
              </div>
              <div class='form-group'>
                <label class='movie-label'>Review:</label>
                <input class="movie-input" type='text' ng-model='movie.review.body' placeholder='Review'>
              </div>
              <input class='movie-submit' type='submit' value='Add'>
            </form>
          </div>

          <div ng-show='movie.reviews.length > 0'>
            <h3>Reviews</h3>
            <div ng-repeat='review in movie.reviews'>
            <h5> Score: {{ review.score }} </h5>
            <p> {{ review.body }} </p>
          </div>
        </div>
      </div>
    </div>
    <div class='card thin-card'></div>
    <div class='card thin-card'></div>
  <!-- </div> -->
  <script type='text/javascript' src='/bower_components/angular/angular.min.js'></script>
  <script type='text/javascript' src='/app/app.js'></script>
</body>
</html>
