/* Don't look at this to learn anything. It was all written on a sunday
   afternoon. If you're looking to hone your CSS skills, check out the CSS
   tutorials on codecademy or something. For a more in-depth walk through CSS
   for those who are more intermediate, take a look at: http://book.mixu.net/css/
   And for those to get serious about it, look into a CSS framework too like
   less or sass or postcss. (I've been playing around with css modules lately.)
   But yeah, I'm just gonna make things look like the mock that got sent to me
   in the shortest amount of time I can, which means little comments and a lot
   of anti-patterns. So here's a pterodactyl to make up for it.

                            <\              _
                             \\          _/{
                      _       \\       _-   -_
                   /{        / `\   _-     - -_
                 _~  =      ( @  \ -        -  -_
               _- -   ~-_   \( =\ \           -  -_
             _~  -       ~_ | 1 :\ \      _-~-_ -  -_
           _-   -          ~  |V: \ \  _-~     ~-_-  -_
        _-~   -            /  | :  \ \            ~-_- -_
     _-~    -   _.._      {   | : _-``               ~- _-_
  _-~   -__..--~    ~-_  {   : \:}
=~__.--~~              ~-_\  :  /
                           \ : /__
                          //`Y'--\\
                         <+       \\
                          \\      WWW
   - Roy
*/

.gradient-background {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #FE886D, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #FE886D, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #FE886D, yellow); /* For Firefox 3.6 to 15 */
  /*background: linear-gradient(to bottom right, #FE886D, #FF6E4E, #FFC055, #FF6E4E, #FE886D); /* Standard syntax */
  background: linear-gradient(to bottom right, #FE886D, rgba(255,110,78, 0.9), rgba(255,192,85,0.9), rgba(255,192,85,0.9), rgba(255,110,78, 0.9), #FE886D); /* Standard syntax */
  /* TODO: add another gradient that's from top left to bottom right */

  font-family: 'Josefin Sans', sans-serif;
}

.navbar-default {
  background-color: rgba(0,0,0,0);
  border: none;
}

.navbar-default::after {
  content: '';
  border-bottom: 1px solid white;
  width: 1140px;
  margin: 0 auto;
  margin-top: 15px;
}

.navbar-brand {
  padding: 5px 15px;
}

.navbar-brand > img {
  height: 100%;
}

.navbar-default .navbar-nav > .new-submission-link > a {
  color: white;
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 0;
  padding-top: 25px;
  cursor: pointer;
  -o-transition:opacity .2s ease-out;
  -ms-transition:opacity .2s ease-out;
  -moz-transition:opacity .2s ease-out;
  -webkit-transition:opacity .2s ease-out;
  transition:opacity .2s ease-out;
}

.navbar-default .navbar-nav > .new-submission-link > a:hover {
  opacity: 0.7;
  color: white;
}


.navbar-default .navbar-nav > .new-submission-link > a > img {
  height: 25px;
  margin-top: -5px;
  margin-left: 5px;
}

.title {
  color: #FF6E4E;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.times {
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  -o-transition:opacity .2s ease-out;
  -ms-transition:opacity .2s ease-out;
  -moz-transition:opacity .2s ease-out;
  -webkit-transition:opacity .2s ease-out;
  transition:opacity .2s ease-out;
}

.times:hover {
  opacity: 0.7;
}

.movie-label {
  color: #FF6E4E;
  display: block;
  font-weight: 400;
  font-size: 1.5em;
}

.movie-input {
  border: 2px solid #FF6E4E;
  line-height: 30px;
  width: 50%;
  padding-left: 10px;
  font-size: 1.3em;
  padding-top: 5px;
}

.movie-submit {
  margin-top: 50px;
  background-color: #FE886D;
  border: none;
  border-radius: 5px;
  border-bottom: 5px solid #FF6E4E;
  font-size: 1.5em;
  color: white;
  padding: 5px 50px;
  padding-top: 10px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.movie-image {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background-image: url("/public/noimage.png");
  margin-bottom: 20px;
}

.add-movie {
  width: 100%;
  max-width: 25em;
  margin: 10px;
}

.thin-card {
  width: 100%;
  max-width: 25em;
  margin: 10px;
}

.thin-card:empty {
  height: 0;
  padding: 0;
}

.movie-title::after {
  display: block;
  margin-top: 10px;
  content: '';
  width: 100%;
  border-bottom: 1px solid #fff;
}

.review-wrapper {
  text-align: center;
}

.review-submit {
  margin-top: 20px;
  background-color: #FE886D;
  border: none;
  border-radius: 5px;
  border-bottom: 5px solid #FF6E4E;
  font-size: 1.5em;
  color: white;
  padding: 5px 10px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.review-header {
  font-weight: bold;
}

@media (min-width: 992px) {
  .add-movie {
    max-width: 51.5em;
  }
}

@media (min-width: 1200px) {
  .add-movie {
    max-width: 78em;
  }
}
